:root {
    --text: rgb(204, 204, 204);
    --header: rgb(5, 255, 5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(90deg, #1c1c1c, #272727);
    font-size: 1.6rem;
    font-family: 'Itim', cursive;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 300px;
}
.home h1{
    font-size: 7rem;
    color: var(--header)
}
.home p {
    color: var(--text);
    font-size: 2.5rem;
}
.home input {
    color: var(--text);
    background: #252525;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-size: 1.6rem;
}
.home button {
    border: none;
    background-color: rgb(5, 255, 5);
    padding: 10px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}
.home button:hover{
    opacity: 0.5;
}

.counter {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 3s;
}
.counter h2 {
    font-size: 7rem;
    color: var(--header);
    text-align: center;
}

.timeLeft {
    display: flex;
    gap: 40px;
    
}
.timeLeft > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeLeft > div span:nth-child(1) {
    color: white;   
    font-size: 4rem;
}
.timeLeft > div span:nth-child(2) {
    color: var(--header);  
    font-size: 3rem; 
}

#buttonReset {
    border: none;
    background-color: rgb(5, 255, 5);
    padding: 10px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}
#buttonReset:hover {
    opacity: 0.5;
}



@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 15em) {
    html {
        font-size: 43%;
    }
}
@media (max-width: 11.125em) {
    html {
        font-size: 33%;
    }
}
@media (max-width: 8.125em) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 21em) {
    .home h1 {
        font-size: 5rem;
    }
}

@media (max-width: 490px) {

    .timeLeft {
        flex-direction: column;
    }

}